<div fxLayout="row" fxLayoutGap="10rem">

  <div fxLayout="column" fxHide.xs>
    <h4>Preview:</h4>
    <app-item [item]="itemForm.value" [photos]="photos" editOn="true"></app-item>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="itemForm" fxLayout="column" fxLayoutGap="2rem">

      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.xs="center center" fxLayout.xs="column" fxLayoutGap.xs="10">
        <mat-form-field color="primary">
          <input matInput placeholder="name" formControlName="name" autocomplete="name" required>
          <mat-error>Missing name.</mat-error>
        </mat-form-field>

        <!-- CATEGORY DROPDOWN -->

        <mat-form-field>
          <mat-select placeholder="Item Category" formControlName="category" required>
            <mat-option *ngFor="let cat of categories" [value]="cat">
              {{ cat }}
            </mat-option>
          </mat-select>
          <mat-error>Please choose a category</mat-error>
        </mat-form-field>
      </div>

      <!-- PHOTO INPUTS -->
      <div fxLayout="row">
        <app-dropzone (photoLinkEmitter)="addPhoto($event, 0)" (loadingEmitter)="loading = $event" [itemUID]="itemUID" fileName="0"></app-dropzone>
        <app-dropzone (photoLinkEmitter)="addPhoto($event, 1)" (loadingEmitter)="loading = $event" [itemUID]="itemUID" fileName="1"></app-dropzone>
        <app-dropzone (photoLinkEmitter)="addPhoto($event, 2)" (loadingEmitter)="loading = $event" [itemUID]="itemUID" fileName="2"></app-dropzone>
      </div>

      <!-- DESCRIPTION TEXT AREA -->

      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutAlign.xs="center center" fxLayout.xs="column" fxLayoutGap.xs="10">
        <mat-form-field>
          <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="desc"
            maxlength="55" required></textarea>
        </mat-form-field>

        <mat-form-field color="primary" fxFlexAlign="end" fxFlexAlign.xs="center">
          <input matInput placeholder="price" formControlName="price" type="number" min="1" autocomplete="off" required>
          <mat-error>Price should be bigger than 0.</mat-error>
        </mat-form-field>
      </div>

      <!-- CONFIRM BUTTON -->
      <mat-spinner fxFlexAlign="center" *ngIf="loading" diameter="40"></mat-spinner>
      <div class="controls" *ngIf="!loading" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Add Item</button>
        <button mat-raised-button color="accent" (click)="onCancel()" routerLink="/profile">Cancel</button>
      </div>

    </form>
  </div>

</div>
