mat-card {
    height: 70vh;
    width: calc(70vh * 0.6);
}

.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 4rem;
    height: 4rem;
    margin-left: .5rem;
}

.rank {
    height: 4rem;
}

.star {
    height: 2rem;
    margin-left: .5rem;
}

.photos {
    height: auto;
    width:  calc(70vh * 0.6);
    overflow: hidden;
}

.photo {
    max-height: calc(70vh * 0.6) !important;
    align-self: center;
}

// @media (min-width: 1025px) and (max-width: 1280px) {
//     .photos {
//         overflow: hidden !important;
//     }
// }

mat-card-header {
    width: 100%;
}