@import '../../sass/_mixins.scss';

mat-card {
  height: 70vh;
  width: calc(70vh * 0.6);

  @include respond(xs) {
    height: 64vh;
    width: calc(64vh * 0.6);
  }
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
}

.rank {
  height: 4rem;
}

.star {
  height: 2rem;
  margin-left: 0.5rem;
}

.photos {
  height: auto;
  width: calc(70vh * 0.6);
  overflow: hidden;

  @include respond(xs) {
    width: calc(64vh * 0.6);
  }
}

.photo {
  max-height: calc(70vh * 0.6) !important;
  align-self: center;

  @include respond(xs) {
    max-height: calc(64vh * 0.6) !important;
  }
}

mat-card-header {
  width: 100%;
}
