<div class="chat">
  <div *ngIf="currentBargain" class="outline" fxLayout="row" fxLayoutAlign="center center">
    <span>{{ currentBargain?.name }}</span>
    <span fxFlex></span>
    <div fxLayoutAlign="center center">
      <span>{{ recipientName }}</span>
      <img class="avatar" [src]="recipientPhoto" alt="">
    </div>
  </div>
  <div class="chat__Output">
    <div class="msgs_wrapper">
      <div #msgs *ngFor="let message of msgs$ |async |orderBy:'sentAt'; let last = last; let i = index" 
            fxLayout="column">
        <span [class]="message.user === loggedUser?.uid ? 'mine' : 'notMine'">{{ message.msg }}</span>
        <span class="seen" *ngIf="last && message.user === loggedUser?.uid">{{ message.seen ? 'seen' : null }}</span>
      </div>
    </div>
  </div>
  <mat-form-field floatLabel="never">
    <input
      matInput 
      #msg
      id="msg" 
      type="text" 
      class="chat__Input"
      placeholder="Type a message"
      value=""
      (keyup.enter)="sendMsg(msg.value)">
    <button 
      mat-button
      color="primary"
      [disabled]="!msg.value" 
      matSuffix 
      mat-icon-button 
      (click)="sendMsg(msg.value)">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</div>

