.outline {
    border: 1px solid #f44336;
    border-radius: 10px;
    max-width: 300px;
    margin-bottom: 1rem;
    font-weight: bold;

    & > * {
        padding: .5rem;
    }
}

.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: .5rem;
}

.chat__Output {
    height: 300px;
    max-width: 300px;
    overflow: auto; 
}

.mine, .notMine {
    border: 1px solid black;
    border-radius: 10px;
    min-height: 2rem;
    padding: .5rem;
    box-shadow: 1px 1px 1px black;
    margin-top: 3px;
}

.mine {
    background-color: #f44336;
    color: black;
    align-self: flex-end;
    margin-left: .5rem;
}

.notMine {
    background-color: #bdbdbd;
    color: black;
    align-self: flex-start;
    margin-right: .5rem;
}

.seen {
    align-self: flex-end;
    font-size: 1rem;
    margin-bottom: .5rem;
}