<div fxLayout="column">
  <h3>Filter by</h3>

  <mat-form-field fxFlexAlign="end">
    <input matInput 
    placeholder="Town" 
    #townInput 
    [formControl]="townControl" 
    [value]="selectedTown" >
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" (change)="switchCategory($event)">
      <mat-option value="">---</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{ cat }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
  