.wrapper {
    width: 95vw;
    height: 85vh;
    margin: auto;
    background-color: white;
}

mat-spinner, .noitems {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.ignore {
    background-color: red;
}