.wrapper {
    width: 95vw;
    height: 85vh;
    margin: auto;
    background-color: white;
}

.helper {
    height: 90%;
}

@media screen and (max-width: 599px) {
    .mat-drawer {
        transform: translate3d(0, -100%, 0);
        width: 100vw;
        height: auto;
        bottom: initial;
    }

    .mat-drawer-content {
        margin: 0 !important;
    }

}