<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="5rem" class="bargains-wrapper">

  <mat-spinner *ngIf="(loading$ | async)"></mat-spinner>
  <h3 *ngIf="!(loading$ | async) && (data$ | async).length === 0">You don't have a bargain yet</h3>

  <ng-template [ngIf]="(data$ | async).length > 0">
    <div class="bargains" fxFlex="40" fxHide.xs>
      <mat-form-field floatLabel="never">
        <input matInput #filter type="text" placeholder="Search for an item" value="">
      </mat-form-field>
      <p>Sold:</p>
      <div class="restricter">
        <div *ngFor="let bargain of (data$ | async | bSorter:loggedUser?.uid:true | filterPipe:filter.value)">
          <app-bargain-item [item]="bargain" (openEmitter)="expanded($event)" [expanded]="bargain.uid === currentlyExpanded" [loggedUser]="loggedUser"></app-bargain-item>
        </div>
      </div>
      <p>Bought:</p>
      <div class="restricter">
        <div *ngFor="let bargain of (data$ | async | bSorter:loggedUser?.uid:false | filterPipe:filter.value)">
          <app-bargain-item [item]="bargain" (openEmitter)="expanded($event)" [expanded]="bargain.uid === currentlyExpanded" [loggedUser]="loggedUser"></app-bargain-item>
        </div>
      </div>
    </div>

    <div class="mobile" fxShow.xs>
      <button mat-raised-button (click)="openBottomSheet()">Select a chat</button>
    </div>

    <div class="chat" fxFlex="40" fxFlex.xs fxFlexAlign="center">
      <app-chat [loggedUser]="loggedUser"></app-chat>
    </div>
  </ng-template>

</div>
