@import "./theme.scss";

html {
    font-size: 62.5%;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    box-sizing: border-box;
}

.pac-icon, .pac-icon-marker{
    display: none;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}
