<div class="container" fxLayout="column">
  <mat-toolbar color="primary" role="header" class="mat-elevation-z8" fxFlexLayoutAlign="space-between center">    
    <span class="logo" routerLink="/shop">Bargain</span>

    <span fxFlex></span>

    <span *ngIf="isAuth$ | async">
      <mat-spinner *ngIf="!(photoURL$ | async)" diameter="20" color="accent"></mat-spinner>
    </span>
    <div *ngIf="(isAuth$ | async) && user?.photoURL !== null">
      <button  
        mat-button 
        [matMenuTriggerFor]="userMenu">
        {{ user?.name }}
        <img [src]="user?.photoURL" alt="Avatar" class="avatar">
      </button>
      <mat-menu #userMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item routerLink="/shop">Shop</button>
        <button mat-menu-item >Bargains</button>
        <button mat-menu-item routerLink="/profile" >Profile</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <!-- THE MAIN APP -->
<div class="bounds" fxFlex fxLayoutAlign="center center">
  <router-outlet></router-outlet>
</div>

</div>

<footer>
  FOOTER BELOW THE MAIN WINDOW
</footer>