.container {
    height: 100vh;
}

mat-toolbar {
    position: relative;
}

.logo {
    cursor: pointer;
    position: absolute;
    right: 50%;
    transform: translateX(50%);

    &:focus {
        outline: none;
    }
}

.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 30px;
    height: 30px;
    margin-left: .5rem;
}

.bounds {
    width: 90%;
    margin: auto;
}

app-shell-tabs {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 1rem;
}

footer {
    background-color: grey;
}