<div class="container" fxLayout="column">
  <mat-toolbar color="primary" role="header" class="mat-elevation-z8" fxFlexLayoutAlign="space-between center">    
    <span class="logo" routerLink="/shop"><mat-icon svgIcon="bargain"></mat-icon>argain</span>

    <span fxFlex></span>

    <mat-spinner *ngIf="(isAuth$ | async) && !(photoURL$ | async)" diameter="20" color="accent"></mat-spinner>

    <div *ngIf="(isAuth$ | async) && user?.photoURL !== null">
      <button  
        mat-button 
        [matMenuTriggerFor]="userMenu">
        {{ user?.name }}
        <img [src]="user?.photoURL" alt="Avatar" class="avatar">
        <span *ngIf="(unreadCount$ | async) > 0" class="notification" 
          fxLayout="row" fxLayoutAlign="center center">{{ unreadCount$ | async }}</span>
      </button>
      <mat-menu #userMenu="matMenu" overlapTrigger="false">
          <button mat-menu-item routerLink="/shop" >Shop</button>
          <button mat-menu-item routerLink="/bargains" >
            Bargains 
            <span *ngIf="(unreadCount$ | async) > 0" class="notification_menu">&nbsp;{{ unreadCount$ | async }}</span>
          </button>
          <button mat-menu-item routerLink="/profile" >Profile</button>
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>

  <!-- THE MAIN APP -->
<div class="bounds" fxFlex fxLayoutAlign="center center">
  <router-outlet></router-outlet>
</div>

</div>

<footer>
  FOOTER BELOW THE MAIN WINDOW
</footer>